# Kaggle API Token (Açık veri setlerini indirmek için)
KAGGLE_TOKEN=your_kaggle_token_here

# Neon.tech Cloud PostgreSQL Connection String
DATABASE_URL=postgresql://neondb_owner:your_password@ep-xxxx.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require
