src/data/raw_kaggle/
*.zip
*.csv

.env
.env.local
kaggle.json

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
.vscode/
.idea/
